<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0px" fxLayoutGap.xs=".2">
  <md-card fxFlex="45%" class="parent card">
    <md-tab-group>
      <md-tab label="Basic Details" *ngFor="let item of arr">
        <md-card>
          <p class="md-headline">Domain Name:{{item.name}}</p>
          <img md-card-image src={{item.avatar}}>
        </md-card>
      </md-tab>
      <md-tab label="Members" *ngFor="let item of memberArray">
        <md-card *ngFor="let items of item.MemberDetails">
          <p>{{items.username}}</p>
        </md-card>
      </md-tab>
      <md-tab label="Tools" *ngFor="let item of toolsArray">
        <md-card *ngFor="let items of item.tools">
          <p>{{items.toolid}}</p>
        </md-card>
      </md-tab>
    </md-tab-group>
  </md-card>
</div>
