<div [class.dark]="isDarkTheme">
  <md-sidenav-container fullscreen class="sidenav-container">
    <md-sidenav #sidenav mode="push" opened="false">
      <md-toolbar color="primary">
        <img routerLink="" src="/assets/logo/logo.png" id="sidebar-logo" />
        <div routerLink="" class="mdc-typography--display4 logo"><label routerLink="">Calvin</label></div>
      </md-toolbar>
      <md-nav-list>
        <a md-list-item *ngFor="let item of navigation" (click)="sidenav.close()" [routerLink]="[item.link]" routerLinkActive="active">
          <md-icon>{{item.logo}}</md-icon> {{item.label}}
        </a>
      </md-nav-list>
    </md-sidenav>
    <md-toolbar color="primary" class="mat-elevation-z2">
      <button md-icon-button class="hidden-md-up" (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>
      <img routerLink="" src="/assets/logo/logo.png" class="logo" />
      <div class="mdc-typography--display4 logo"><label routerLink="">Calvin</label></div>
      <span class="spacer"></span>
      <div class="mdc-typography--display4">
        <button md-button class="hidden-sm-down nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]" routerLinkActive="active">
          {{item.label}}
        </button>
        <md-slide-toggle color="primary" (click)="toggle()">
        </md-slide-toggle>
      </div>
    </md-toolbar>
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div fxFlex>
        <router-outlet></router-outlet>
      </div>
      <div fxFlex>
        <calvin-foot-note></calvin-foot-note>
      </div>
    </div>
  </md-sidenav-container>
</div>
