<div class="rightpush">
<button md-button [md-dialog-close]="true" ><i class="material-icons">close</i></button>
</div>
	<form class="search">
		<md-input-container class="searchbox" >
			    <input mdInput placeholder="Search Calvin" >
		</md-input-container>
	</form>
	<hr>
	<table cellspacing="10">
	<tr>
    <td>Communities <hr><div class="communities">dbsdnenmem,m</div></td>
    <td>People <hr><div class="people">fxg,fx,fx</div></td>
    <td>Tools <hr><div class="tools">fx,fx,</div></td>
  </tr>
  </table>
