<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
       <div class="item item-3" fxFlex="25%" ></div>
  <div class="item item-3" fxFlex >
  <md-input-container class="full-width top-gap">
    <input mdInput placeholder="Search for a community..." >
  </md-input-container>
  </div>
  <div class="item item-3" fxFlex="25%" ></div>
</div>
<div *ngIf="tiles" fxFlex="100%" fxLayoutGap="2%" fxLayoutWrap >
<div class="list-communities" fxFlex="31%" *ngFor="let data of tiles" fx-flex-fill >
<md-card>{{data.title}}</md-card>
</div>
</div>