<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex="100%" fxLayoutGap="10" fxLayoutWrap fxLayoutAlign="center">
        <md-card class="list-communities" fxFlex="35%" fxLayout fxLayoutAlign="center" *ngFor="let tile of newArray;" fx-flex-fill>
            <md-card-header>
                <img md-card-avatar src="https://source.unsplash.com/random/200x200">
                <md-card-title>Cards are the best</md-card-title>
                <md-card-subtitle>Really, they are!</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="https://source.unsplash.com/random/600x500">
            <md-card-content>
                <p>Something pretty...</p>
            </md-card-content>
        </md-card>
    </div>
</div>
