<div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-3" fxFlex="70%">
    <div fxLayoutGap="50px" fxLayoutWrap>
      <div class="list-communities item item-1" fxFlex="45%" *ngFor="let tile of alldata;">
        <md-card class="parent card">
          <md-card-header>
            <md-card-title class="md-headline"> {{tile.purpose}}</md-card-title>
          </md-card-header>
          <img md-card-image class="height" src={{tile.image}}>
          <md-card-header>
            <md-card-title class="heading">TEMPLATE</md-card-title>
          </md-card-header>
          <md-card-content *ngFor="let tiles of tile.data;">
            {{tiles.name}}
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
