<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-3" fxFlex="80%" >
<div fxLayoutGap="4%" fxLayoutWrap>
    <div class="list-communities item item-1" fxFlex="45%" *ngFor="let tile of alldata;">
        <md-card class="parent">
            <md-card-header>
                <img md-card-avatar src="https://source.unsplash.com/random/200x200">
                <md-card-title>Title: {{tile.purpose}}</md-card-title>
            </md-card-header>
            <img md-card-image src="https://career.webindia123.com/career/options/images/medical-tourism.jpg">
            <md-card-content *ngFor="let tiles of tile.data;">
                {{tiles.name}}
            </md-card-content>
        </md-card>
    </div>
</div>
</div>
