<div fxLayout fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div  fxFlex>
    <md-card>
      <md-card-title>Communities</md-card-title>
      <md-card-subtitle>on the Basis of Purposes</md-card-subtitle>
      <md-card-content>
        <nvd3 *ngIf="flag===1" [options]="options" [data]="data"></nvd3>
        <div fxLayoutAlign="center center">
          <md-progress-spinner *ngIf="flag===0" color="accent" mode="indeterminate">
          </md-progress-spinner>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
