<!--<div fxFlex="100%" fxLayoutAlign="center" class="" style="margin-top:1%">-->
        <!--<i class="material-icons">tune</i>-->
<!--<md-icon >tune</md-icon>-->
<div>
 <md-select placeholder="Select your option" style="margin-top:2%"[(ngModel)]="selectedValue" fxflex="100%" fxLayoutAlign="center">
   
    <md-option [value]="basedontemplate" (click)="select('basedontemplate')">Based on Template
    </md-option>
    <md-option [value]="basedonpurpose" (click)="select('basedonpurpose')">Based on Purpose
    </md-option>
  </md-select>
</div>
  <div *ngIf="getTemplate" style="margin-top:3%">
    <template-list-component></template-list-component>
  </div>

  <div *ngIf="getPurpose" style="margin-top:3%">
    <purpose-component></purpose-component>
  </div>

