
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
<div *ngIf="getResults" fxFlex="100%" fxLayoutGap="2%" fxLayoutWrap >
<div class="list-communities"  fxFlex="30%" *ngFor="let data of getResults" fx-flex-fill >
<md-card>
  <md-card-header>
   <md-card-title>{{data.name}}</md-card-title>
     <md-card-subtitle>{{data.purpose}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://images.nigms.nih.gov/PublicAssets/5811/NCMIR%20tongue%202.jpg">
  <md-card-content>
    <p>
      {{data.description}}
    </p>
  </md-card-content>
  <md-card-header>
    <md-card-title>Tags</md-card-title>
  <div *ngFor="let tag of data.tags">
    <md-list>
     <md-list-item>{{tag}}</md-list-item>
    </md-list>
    </div>
  </md-card-header>
  <md-tab-group>
   <md-tab label="Tools">
    <md-list *ngFor="let tool of data.tools" >
      {{tool.toolId}}
    </md-list>
   </md-tab>
   <md-tab label="Roles">
    <md-list *ngFor="let roles of data.roleActions">
      <md-list-item>{{roles.role}}</md-list-item>
    </md-list>
   </md-tab>
  </md-tab-group>
 <md-card-actions fxLayoutAlign="end">
  <button md-raised-button color="primary" (click)="update()">View Communties</button>
 </md-card-actions>
</md-card>
</div>
</div>

<router-outlet>
</router-outlet>

